<html>
  <head>
    <title>WhYBoLu Server List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" href="<%=bot.user.displayAvatarURL({ dynamic: true })%>">
  </head>
  <body style="background-color: #1c1c1c; color: #fff;"> 
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #141414">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="<%=bot.user.displayAvatarURL({ dynamic: true })%>" style="border-radius: 50%; height: 30px; width: 30px;">
    WhYBoLu Server List
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/siralama/ses"><i class="fas fa-volume-up"></i> Ses Sıralaması</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/siralama/oy"><i class="fas fa-thumbs-up"></i> Oy Sıralaması</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sunucular"><i class="fas fa-server"></i> Sunucular</a>
        </li>
      </ul>  
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>" style="border-radius: 50%; height: 30px; width: 30px;">
    <%= user.username %>
  </button>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="/profil/<%=req.user.id%>"><i class="fas fa-user"></i> Profil</a></a></li>
    <% if(bot.db.get("staffs").find(s => s.staff === req.user.id)) { %>
    <li><a class="dropdown-item" href="/admin"><i class="fas fa-unlock"></i> Admin Panel</a></a></li>
    <% } %>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/cikis"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a></li>
  </ul>
</div>
    </div>

  </div>
</nav> 
 
<br>
  <% let arkaplan; 
    if(bot.db.has(`${user.id}.arkaplan`) === true) {
      arkaplan = bot.db.fetch(`${user.id}.arkaplan`)
    } else {
      arkaplan = "https://cdn.glitch.com/31e82d97-3c22-493e-bcbb-831881d6650e%2F9485c23d-fdb1-44b1-a2cd-fc9db1b2290a.image.png?v=1613416963166"
    }
  %>
  <div class="jumbotron bg-cover text-white" style="background: url(<%=arkaplan%>)">
    <div class="container py-5 text-center">
    <% let resim;
      if(user.avatarURL()) {
        resim = user.avatarURL({ dynamic: true })
      } else {
        resim = user.displayAvatarURL({ dynamic: true })
      }
     %>
    <% let rozet; %>
    <% if(bot.db.has(`profil`) === true) { %>
      <% let data = bot.db.get(`profil`).filter(s => s.member === req.user.id) %>
      <% let data2 = Object.keys(data).map(_data => { %>
        <% 
        return {
          rozet: (data[_data].rozet)
        } %>
      <% }) %>
      <img src="<%= resim %>" style="border-radius: 50%">
      <h1 class="display-4 font-weight-bold">Selam <a href="/davet" style="text-decoration: none;"><%= user.username %></a> - 
      <% data2.map(item => { %>
      <img src="<%=item.rozet%>" style="width: 50px; height: 50px;"> 
      <% }) %> 
     </h1>
        <p class="mb-0">Bu kısımdan sunucularını bulabilir, istatistiklerine bakabilirsin!</p>
        <br>
        <a href="/profil/<%=user.id%>/duzenle" class="btn btn-primary">Düzenle</a>
    <% } else { %>
    
    <% } %>
    </div>
</div> 
<br>


<div class="enCokOy">

      <h1 style="text-align: center"><img src="https://cdn.discordapp.com/emojis/782608516170121247.png?v=1" style="width: 45px; height: 45px;"> | Sana Ait Sunucular</h1>
      <br><br><br>
      <div class="container">
        <div class="row" style="margin: auto; margin-left: auto; margin-right: auto; float: left; display: inline-block;">
        <div class="col-md-6 col-lg-4 pb-3">
    <% bot.guilds.cache.filter(s => bot.db.has(`${s.id}.serverName`) === true && bot.db.get(`${s.id}.serverOwner`) === req.user.id).array().sort((a, b) => {
      return bot.db.fetch(`${b.id}.serverVote`) - bot.db.fetch(`${a.id}.serverVote`)
    }).splice(0, 6).map(sunucu => { %>
      <div class="card card-custom bg-dark border-dark border-0"> 
                <%
                let resim2;
                if(bot.db.fetch(`${sunucu.id}.serverBackground`)) {
                    resim2 = bot.db.fetch(`${sunucu.id}.serverBackground`)
                  } else {
                    resim2 = "https://images.wallpaperscraft.com/image/river_forest_sunset_144468_3840x2160.jpg" 
                  }
                %>
                <div class="card-custom-img" style="background-image: url(<%=resim2%>);"></div>
                <div class="card-custom-avatar">
                  <% 
                  let resim;
                  if(bot.db.fetch(`${sunucu.id}.serverIcon`)) {
                    resim = bot.db.fetch(`${sunucu.id}.serverIcon`)
                  } else {
                    resim = "https://images-ext-1.discordapp.net/external/9i7pqUh3tNwm0sG4Pg2MX_8WqKtSqBvZyR44NLWtsBQ/https/blog.logomyway.com/wp-content/uploads/2020/12/discord-mascot.png" 
                  }
                  %>
                <img class="img-fluid" src="<%=resim%>" alt="Avatar" />
                </div>
                <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><%= bot.db.fetch(`${sunucu.id}.serverName`) %></h4>
            <div class="card-vote"></i> <p><%= bot.db.fetch(`${sunucu.id}.serverVote`) %></p></div>
            <p class="card-text"><%= bot.db.fetch(`${sunucu.id}.shortDescription`) || "Ayarlanmamış" %></p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit; text-align: center">
            <a href="/sunucu/<%= bot.db.fetch(`${sunucu.id}.serverID`) %>" class="btn btn-primary">Bilgiler</a>
            <a href="/sunucu/<%= bot.db.fetch(`${sunucu.id}.serverID`) %>/katil" class="btn btn-outline-primary">Sunucuya Katıl</a>
          </div>

                </div>
                </div>
                </div>
    <% }) %>
    </div>
    </div>
    </div>
    </div>
  </div> 

<br><br><br><br><br><br>
    <footer>
        	<div class="footer-top" style="text-decoration: none;">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
		        			<img class="logo-footer" style="border-radius: 50%;" src="https://cdn.glitch.com/31e82d97-3c22-493e-bcbb-831881d6650e%2F4dfc799330deb83f66d2af2958f69e4a.webp?v=1613414272458" alt="logo-footer" data-at2x="https://cdn.glitch.com/31e82d97-3c22-493e-bcbb-831881d6650e%2F4dfc799330deb83f66d2af2958f69e4a.webp?v=1613414272458">
		        			<p>
		        				WhYBoLu Server List TheClawNz#7987 tarafından sizler için yapılmıştır.
		        			</p>
	              </div>
		        		<div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
		        			<h3>İletişim</h3>
		                	<p><i class="fab fa-discord"></i> https://discord.gg/AJ4fzBsuSq</p>
		                	<p><i class="fas fa-phone"></i> Yakında</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:75theclawnz@gmail.com">75theclawnz@gmail.com</a></p>
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
	                    	<div class="row">
	                    		<div class="col">
	                    			<h3>Bağlantılar</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6">
	                    			<p><a class="scroll-link" href="/">Anasayfa</a></p>
	                    			<p><a href="/siralama/ses">Ses Sıralaması</a></p>
	                    			<p><a href="/siralama/oy">Oy Sıralaması</a></p>
	                    			<p><a href="/sunucular">Sunucular</a></p>
	                    		</div>
	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-md-6 footer-copyright">
	                    	© WhYBoLu Server List by <a href="https://discord.gg/AJ4fzBsuSq">TheClawNz#7987</a>
	                    </div>
	           			<div class="col-md-6 footer-social">
							<a href="https://twitter.com/WhYBoLu"><i class="fab fa-twitter"></i></a>  
							<a href="#"><i class="fab fa-instagram"></i></a>
              <a href="https://discord.gg/AJ4fzBsuSq"><i class="fab fa-discord"></i></a>
	                    </div>
	           		</div>
	        	</div>
	        </div>
        </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>  

